@tailwind base;
@tailwind components;
@tailwind utilities;
.mapboxgl-popup-tip {
  max-width: max-content !important ;
}
.mapboxgl-popup-content {
  max-width: max-content !important ;
}
.mapboxgl-popup {
  max-width: max-content !important ;
}
